<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>House Storage</title>
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
        <script src="/scripts/Basket.js"></script>
        <script src="/scripts/Counter.js"></script>
        <script src="/scripts/Date.js"></script>
    </head>
    <body class="container">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="/videos/video4.mp4" type="video/mp4">
                <source src="/videos/video.webm" type="video/webm">
                    Your browser is not supported!
            </video>
        </div>

        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__toggle">&nbsp;</span>
            </label>
            <ul class="navigation__nav">
                <li>
                    <div class="navigation__element">
                        <a href="/">
                            <svg class="navigation__icon navigation__icon--home">
                                <use xlink:href="/icons/sprite.svg#icon-home3"></use>
                            </svg>
                        </a>
                    </div>
                    <span class="navigation__span navigation__span--home">Home</span>
                </li>
                <li>
                    <div class="navigation__element">
                        <a href="/items">
                            <svg class="navigation__icon navigation__icon--file">
                                <use xlink:href="/icons/sprite.svg#icon-file-text2"></use>
                            </svg>
                        </a>
                    </div>
                    <span class="navigation__span navigation__span--file">Items</span>
                </li>
                <li>
                    <div class="navigation__element">
                        <a href="/users">
                            <svg class="navigation__icon navigation__icon--users">
                                <use xlink:href="/icons/sprite.svg#icon-users"></use>
                            </svg>
                        </a>
                    </div>
                    <span class="navigation__span navigation__span--users">Users</span>
                </li>
                
                <% if(currentUser) { %>
                    <li>
                        <div class="navigation__element">
                            <a href="/purchases">
                                <svg class="navigation__icon navigation__icon--card">
                                    <use xlink:href="/icons/sprite.svg#icon-credit-card"></use>
                                </svg>
                            </a>
                        </div>
                        <span class="navigation__span navigation__span--card">Purchases</span>
                    </li>
                    <li>
                        <div class="navigation__element">
                            <a href="/items/new">
                                <svg class="navigation__icon navigation__icon--add">
                                    <use xlink:href="/icons/sprite.svg#icon-add-to-list"></use>
                                </svg>
                            </a>
                        </div>
                        <span class="navigation__span navigation__span--add">New Item</span>
                    </li>
                    <li>
                        <div class="navigation__element">
                            <a href="/stock"">
                                <svg class="navigation__icon navigation__icon--clipboard">
                                    <use xlink:href="/icons/sprite.svg#icon-clipboard"></use>
                                </svg>
                            </a>
                        </div>
                        <span class="navigation__span navigation__span--clipboard">My Stock</span>
                    </li>
                    <li>
                        <div class="navigation__element">
                            <a href="/basket">
                                <svg class="navigation__icon navigation__icon--cart">
                                    <use xlink:href="/icons/sprite.svg#icon-cart"></use>
                                </svg>
                            </a>
                        </div>
                        <span class="basket-quantity"><%= BasketQuantity %></span>
                        <span class="navigation__span navigation__span--cart">Basket</span>
                    </li>
                <% } %>  
            </ul>

            <div class="authentication">
                <input type="checkbox" class="authentication__checkbox" id="auth-toggle">
                <label for="auth-toggle" class="authentication__button">
                    <span class="authentication__toggle">
                        <svg class="authentication__toggle--icon">
                            <use xlink:href="/icons/sprite.svg#icon-enter"></use>
                        </svg>
                    </span>
                </label>

                <div class="credentials-background">
                    <% if(!currentUser) { %>
                            <div class="authentication__credentials">
                                <div class="authentication__credentials--element">
                                    <form action="/login" method="POST" autocomplete="off">
                                        <span class="login__text">Sign In</span>
                                        <input type="text" class="login__form-input" name="username" placeholder="Username" required>
                                        <input type="password" class="login__password" name="password" placeholder="Password" required>
                                        <button class="login__button">
                                            <svg class="authentication__credentials--icon authentication__icon--enter">
                                                <use xlink:href="/icons/sprite.svg#icon-enter"></use>
                                            </svg>
                                        </button>
                                        <a href="/register" class="login__signup">
                                            <span>Sign up</span>
                                        </a>
                                    </form>
                                </div>
                            </div>
                    <% } else { %>
                            <div class="authentication__credentials">
                                <span class="authentication__credentials--signed-in">
                                    Signed in as <span class="authentication__credentials--signed-in__username"><a href="/users/<%= currentUser._id %>"><%= currentUser.username %></a></span>
                                </span>
                                <div class="authentication__credentials--avatar">
                                    <a href="/users/<%= currentUser._id %>"><img src="<%= currentUser.avatar%>" alt=""></a>
                                </div>
                                <div class="authentication__credentials--element">
                                    <a href="/logout">
                                        <svg class="authentication__credentials--icon authentication__icon--exit">
                                            <use xlink:href="/icons/sprite.svg#icon-exit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="authentication__shopping-list">
                                <a href="/list">My shopping list</a>
                            </div>
                    <% } %> 
                    <div class="footer">
                        <div class="footer__navigation">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="/contact" class="footer__link">Contact Me</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">My Portfolio website</a></li>
                            </ul>
                        </div>
                        <div class="footer__copyright">
                            This website has been built with passion for modern web design solutions and flexible technologies. These technologies include <strong>Express</strong> for route handling, <strong>Node JS</strong> for backend development, <strong>MongoDB</strong> for NoSQL database, <strong>HTML5</strong> for layout and <strong>CSS3</strong> for visual representation. <p> Copyright &copy; by Peter Kertesz 2020.</p> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    