<%- include("../partials/header"); %>

<div class="search-purchases">
    
   <span class="search-purchases__title">Search purchases by selecting dates</span>
    <form action="/purchases/search" method="POST" autocomplete="off">
        <div class="search-purchases__group">
            <label for="from" class="search-purchases__label">From</label>
            <input type="date" id="from" name="from" required>
        </div>
        
        <div class="search-purchases__group">
            <label for="to" class="search-purchases__label">To</label>
            <input type="date" id="to" name="to" required>
        </div>
        <button class="main-button search-button">Search</button>
    </form>
</div>

<div class="total-purchase">
    In the current calculated period 
    <% if (fromDate) { %>
        <div class="total-purchase__date"><%= fromDate %> - <%= toDate %></div>
    <% }  else { %>
        <div class="total-purchase__date">Until today</div>
    <% } %>    
    You have spent <strong>£<%= TotalPurchase.toFixed(2) %></strong>.
</div>

<div class="purchases-container">
    <div class="pagename">Purchases</div>
    <% if (messages.success) { %>
        <div class="flash flash-success"><%= messages.success %></div>
    <% } %>
    <% if (messages.error) { %>
        <div class="flash flash-error"><%= messages.error %></div>
    <% } %>
    <% let count = 0 %>
    <div class="purchases">
        <% if (purchases && purchases.length > 0) { %>
            <% purchases.forEach((purchase, idx) => {%>
                <% if (purchase.user_id) { %>
                    <% count++ %>
                    <% if ((currentUser) && currentUser._id.equals(purchase.user_id._id)) { %>
                        <div class="purchase purchase--is-user-owner">
                    <% } else { %>
                        <div class="purchase">
                    <% } %>
                        <div class="purchase__user">
                            <span class="purchase__user--image"><img src="<%= purchase.user_id.avatar %>" alt=""></span>
                            <span class="purchase__user--username"><strong>Username:</strong> <a href="/users/<%= purchase.user_id._id %>"><%= purchase.user_id.username %></a></span>
                            <span class="purchase__user--teamname"><strong>Team name:</strong> 
                                <%teams.forEach(team => {%>
                                    <% if (team._id.equals(purchase.user_id.team_id)) { %>
                                        <%= team.name %>
                                    <% } %>
                                <% }) %>
                            </span>
                        </div>
                        <div class="purchase__header">
                            <span class="purchase__header--item">Item</span>
                            <span class="purchase__header--qty">Quantity</span>
                            <span class="purchase__header--price">Price</span>
                        </div>
          
                        <div class="purchase__items">
                            <% purchase.items.forEach((item, idx_) => { %>
                                <div class="purchase__items--group">
                                    <span class="purchase__items--name"><%= item.id.name %></span>
                                    <span class="purchase__items--quantity"><%= item.quantity %></span>
                                    <span class="purchase__items--price">£<%= item.price %></span>
                                </div>
                            <% }) %>
                        </div>
                        <div class="purchase__date">
                            <a href="/purchases/<%= purchase._id %>">
                                Purchased at: 
                                <% var date = new Date(purchase.purchased_at); %>
                                <% var d = date.getDate(); %>
                                <% var m = date.getMonth()+1; %>
                                <% var y = date.getFullYear(); %>
                                <%= d %>/<%= m %>/<%= y %>
                            </a>
                        </div>
                    </div>
                <% } %>
            <%})%>
        <% } %> 
        <% if (count === 0) { %>
            <div class="no-purchases">
                There are no purchases to show.
            </div>
        <%}%>
    </div>
    
</div>

<%- include("../partials/footer"); %>