<%- include("../partials/header"); %>

<div class="basket">
    <div class="pagename">Your Basket</div>
    <% if (messages.success) { %>
        <div class="flash flash-success"><%= messages.success %></div>
    <% } %>
    <% if (messages.error) { %>
        <div class="flash flash-error"><%= messages.error %></div>
    <% } %>

    <div class="basket-container">
        <div class="basket-container__inner">
            <div class="basket-title">Your selected items</div>
            <form action="/purchases/new" method="POST">
                <% if (Basket && Basket.items.length) { %>
                    <% Basket.items.forEach((item, idx) => { %>
                        <div class="item__group item__group--confirm">
                            <span class="item__group__number"><%= idx + 1 %></span>
                            <span class="item__group__name"><%= item.name %></span>
                            <input type="hidden" name="id[<%= idx %>]" value="<%= item.id %>">
                            <span class="item__group__image"><img src="/images/<%= item.image %>" alt=""></span>
                            <div class="item__group__form">
                                <input type="number" id="basket-quantity" class="item__group-input" name="quantity[<%= idx %>]" placeholder="Quantity" min="1" required onchange="CalculateRealTimePrices(<%= idx %>)">
                                
                            </div>
                            <div class="item__group__form">
                                £
                                <input type="number" id="basket-price" class="item__group-input" name="price[<%= idx %>]" placeholder="Price" min="0.1" step="0.01" required onchange="CalculateRealTimePrices(<%= idx %>)">
                                
                            </div>
                            <div class="item__subtotal item__subtotal_<%= idx %>"></div>
                        </div>
                    <% }); %>
                    <div class="totalClass">
                        <span class="totalLabel">Total:</span> <span class="totalAmount"></span>
                        <a href="/basket" class="basket-back">BACK</a>
                        <button class="basket-next">Complete</button>
                    </div> 
                <% } else { %>
                    <div class="empty">There is currently no items in your basket.</div>
                <% } %>

            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer"); %>