<%- include("../partials/header"); %>

<h1>This is index page for items</h1>
<div class="items_container">
    <% if (messages.success) { %>
        <div class="flash flash-success"><%= messages.success %></div>
    <% } %>
    <% Items.forEach((Item, idx) => { %>
        <div class="items_container__item">
            <div class="items_container__item--top">
                <form action="/items/<%= Item._id %>?_method=DELETE" method="POST">
                    <button class="delete-btn">X</button>
                </form>
            </div>
            <img class="items_container__item--image" src="/images/<%= Item.image %>" alt="<%= Item.name %>">
            <h4 class="items_container__item--name"><%= Item.name %></h4>
            <span class="items_container__item--category items_container__item--category-text">Category</span>
            <span class="items_container__item--category items_container__item--category-value"><%=  Item.category_id.name %></span>
            <span class="items_container__item--store items_container__item--store-text">Store</span>
            <span class="items_container__item--store items_container__item--store-value"><%=  Item.store %></span>
        </div>
    <% }) %>
</div>