<%- include("../partials/header"); %>

<h1>This is index page for items</h1>
<div class="items_container">
    <% Items.forEach((Item, idx) => { %>
        <div class="items_container__item">
            <div class="items_container__item--top">
                <form action="/items/<%= Item._id %>?_method=DELETE" method="POST">
                    <button class="delete-btn">X</button>
                </form>
            </div>
            <img class="items_container__item--image" src="/images/<%= Item.image %>" alt="<%= Item.name %>">
            <h4 class="items_container__item--name"><%= Item.name %></h4>
            <div class="items_container__item--quantity items_container__item--quantity-text">Stock quantity</div>
            <div class="items_container__item--quantity items_container__item--quantity-value"><%= Item.quantity %></div>
            <span class="items_container__item--reorder items_container__item--reorder-text">Reorder quantity</span>
            <span class="items_container__item--reorder items_container__item--reorder-value"><%= Item.reorder_quantity %></span>
        </div>
    <% }) %>
</div>