<%- include("../partials/header"); %>

<form action="/items/new" enctype="multipart/form-data" method="POST" autocomplete="off">
    <div class="newitem">
        <h1 class="newitem__header">Add a new item</h1>
        <% if (messages.success) { %>
            <div class="flash flash-success"><%= messages.success %></div>
        <% } %>
        <% if (Object.keys(errors).length === 0) { %>
            <% } else { %>
            <h4>The system encountered the following errors: </h4>
            <ul>
                <% Object.values(errors).forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
        <div class="newitem__form-group">
            <input type="text" class="newitem__form-input" name="items[name]" placeholder="Item name" required>
            <label for="items[name]" class="newitem__form-label">Item name</label>
        </div>

        <div class="newitem__form-group">
            <input type="number" class="newitem__form-input" name="items[quantity]" placeholder="Item quantity" required>
            <label for="items[quantity]" class="newitem__form-label">Item quantity</label>
        </div>

        <div class="newitem__form-group">
            <input type="number" class="newitem__form-input" name="items[reorder_quantity]" placeholder="Reorder quantity" required>
            <label for="items[reorder_quantity]" class="newitem__form-label">Reorder quantity</label>
        </div>

        <div class="newitem__form-group">
            <input type="text" class="newitem__form-input" name="items[store]" placeholder="Store" required>
            <label for="items[store]" class="newitem__form-label">Store</label>
        </div>

        <div class="newitem__form-group">
            <label for="items[category]" class="newitem__selectlabel">Please select a category from the list</label>
            <select class="newitem__select" name="items[category]">
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% }) %>
            </select>
        </div>

        <div class="newitem__form-group">
            <input type="file" id="file" name="image" accept="image/*">
            <label for="file" class="upload-image">Browse image</label>
        </div>
        
        <div class="newitem__form-group">
            <button>Add new item</button>
        </div>
    </div>
</form>