<%- include("../partials/header"); %>

<form action="/items/new" enctype="multipart/form-data" method="POST" autocomplete="off">
    <div class="newitem">
        <h1 class="newitem__header">Add a new item</h1>
        <% if (messages.success) { %>
            <div class="flash flash-success"><%= messages.success %></div>
        <% } %>
        <% if (messages.error) { %>
            <div class="flash flash-error"><%= messages.error %></div>
        <% } %>
        <% if (Object.keys(errors).length === 0) { %>
            <% } else { %>
                <% Object.values(errors).forEach(error => { %>
                    <div class="flash flash-error"><%= error.msg %></div>
                <% }) %>
        <% } %>
        <div class="newitem__form-group">
            <input type="text" class="newitem__form-input" name="items[name]" placeholder="Item name" required>
            <label for="items[name]" class="newitem__form-label">Item name</label>
        </div>

        <div class="newitem__form-group">
            <input type="text" class="newitem__form-input" name="items[store]" placeholder="Store" required>
            <label for="items[store]" class="newitem__form-label">Store</label>
        </div>

        <div class="newitem__form-group">
            <label for="items[category]" class="newitem__selectlabel">Please select a category from the list</label>
            <select class="newitem__select" name="items[category]">
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% }) %>
            </select>
        </div>

        <div class="optional">Optionally you can upload image for your item</div>
        <div class="newitem__form-group">
            <input type="file" id="file" name="image" accept="image/*">
            <label for="file" class="upload-image">Browse image</label>
        </div>
        
        <div class="newitem__form-group">
            <button>Add new item</button>
        </div>
    </div>
</form>