<%- include("../partials/header"); %>

<div class="users_container">
    <h1>These are the registered users</h1>
    <div class="users">
        <% users.forEach((user, idx) => { %>
            <div class="users__user">
                <img class="users__user--avatar" src="<%= user.avatar %>" alt="">
                <div class="users__user--username"><a href="/users/<%= user._id %>"><%= user.username %></a></div>
                <div class="users__user--team_id">
                    <% teamnames.forEach((team, idx) => { %>
                        <% if (team._id.equals(user.team_id)) {%>
                            <%= team.name %>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        <% }) %>
    </div>
</div>